.html{
  size: 70px;
}

.body{
  font-family: Arial, Helvetica, sans-serif;
  border-color: #dddddd;
  background: #ffffff

}

.image1{
  float: left;
}

.p{
  float: right;
}

.Portfolioimage1{
  float: left;
  margin: 25px;
  padding: 5px;
}

.Portfolioimage2{
  float: left;
  margin: 25px;
  padding: 5px;
  width: 66%;
  
}

.Portfolioimage3{
  float: left;
  margin: 25px;
  padding: 5px;

}

.Portfolioimage4{
  float: left;
  margin: 25px;
  padding: 5px;
  width: 66%;
}

.Portfolioimage5{
  float: left;
  margin: 25px;
  padding: 5px;
  width: 100%;
}

.container_portfolio{
  clear: both;
  overflow: auto;
}

