.container{
  width: 960px;

}


.image1{
  float: left;
}

.Portfolioimage1{
  float: left;
  margin: 25px;
  padding: 5px;
}

.Portfolioimage2{
  float: left;
  margin: 25px;
  padding: 5px;
  width: 66%;
}

.Portfolioimage3{
  float: left;
  margin: 25px;
  padding: 5px;
  width: 33%;
}

.Portfolioimage4{
  float: left;
  margin: 25px;
  padding: 5px;
  width: 33%;
}

.Portfolioimage5{
  float: left;
  margin: 25px;
  padding: 5px;
  width: 100%;
}

.container_portfolio{
  clear: both;
  overflow: auto;
}

